<div class="max-w-screen-xl mx-auto p-3">
    <h1 class="text-center text-3xl">Users List</h1>
    <div class="w-72 mt-10 mx-auto h-1/4">
        <ul>
        </ul>
        <div class="mt-20 text-center py-3 rounded-xl bg-gray-900 text-white hover:text-gray-900 hover:bg-white border-2 border-gray-900 transition duration-200">
         <%= link_to 'Create New User', new_user_path, class:"text-xl" %>
        </div>
    </div>
</div>