<div class="max-w-screen-xl mx-auto p-3">
    <h1 class="text-center text-3xl">All Posts</h1>
    <div class="w-72 mt-10 mx-auto h-1/4">
        <ul>
        </ul>
        <div class="mt-20 flex justify-center">
            <%= link_to 'Create New Post', new_post_path, class:"text-xl text-center px-5 py-3 rounded-xl bg-gray-900 text-white hover:text-gray-900 hover:bg-white border-2 border-gray-900 transition duration-200" %>
        </div>
    </div>
</div>